body {
    font-family: Arial;
    background: #2c2c2c;
    color: white;
  

}
aside{
  float: left;
  background: 181818;
  width:19%;
  padding: 2.5%;
  height: 220vh;
  color: #fff;
  border-right: 5px solid #4d4d4d
}

aside img{
  width: 100px;
  float: left;
}

aside .logo{
  font-size: 40px;
  margin-left: 20px;
  font-weight: bold;
  position: relative;
  top: -5px;
}
aside h3{
  margin-top: 50px;
  font-size: 30px;
}
main h3{
  font-size: 30px; 
  text-align: left; 
  text-indent:30px;
}

main .sostav{
  margin-top: 50px;
  font-size: 30px;
  margin: 20px;
}
main .main_text1{
  font-size: 15px;
  margin: 20px;
}
main .bludo_text{
  text-align: right;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: -5px;
}

aside ul{list-style: none;}
aside ul li{
  color:#fff;
  display: block;
  margin-top: 20px;
}
aside ul li:hover, aside ul a:hover  {
  color: grey
  text-decoration: none;
  transform: scale(1.05);
}

main img {
  margin: 20px;
}
main .main_text{
  margin: 20px;
  font-size: 30px;
}
main .main_text1{
  text-align: center;
  font-size: 30px;
}

main ul li{
  color:#fff;
  margin: 20px;
}


h1 {
    font-size: 32pt;
    text-align: center;
}

.header {
    padding-left: 10px;
    font-size: larger;
}
.button_text_size{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.button_text_size:hover { background: rgb(53, 167, 110); }
.button_text_size:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
   
   
.img{
    text-align: left;
}

.flex-center { 
  display: flex; 
  align-items: center;
}
.flex-center1 { 
  display: flex; 
  align-items: center;
  position: relative;
  float: right;
  margin-right: 300px;
  
}
.rounded-dark-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 30px;
  cursor: pointer;
  margin: 25px;
}
main .logogo{
  float: left;
  width: 200px;
  height: 200px;
}
main .sostav_text{
  margin: 100px;
  font-size: 30px;
}
 .module-border-wrap {
  max-width: 1000px;
  padding: 2rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 4px;
  border-radius: 1em;
}
.module-border-wrap1 {
  max-width: 1500px;
  padding: 3rem;
  background: linear-gradient(to right, red, purple);
  padding: 5px;
  border-radius: 1em;
  float: left;
  margin-left: 20px;
}
.module1 {
  background: #222;
  color: white;
  padding: 2rem;
  border-radius: 1em;
}
.module {
  background: #222;
  color: white;
  padding: 1rem;
  border-radius: 1em;
}
.telegram_img{

}
.tg_text{
  position: relative;
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

.img_contact{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.text_contact{
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  

}
.rounded-dark-button1 {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 30px;
  cursor: pointer;
  margin-left: 30%;
}
.module2 {
  background: #222;
  color: white;
  padding: 1rem;
  border-radius: 1em;
}
.module-border-wrap2 {
  max-width: 1500px;
  padding: 3rem;
  background: linear-gradient(to right, red, purple);
  padding: 5px;
  border-radius: 1em;
  float: right;
  position:relative;
  margin-right: 1px;
}